table{
  border: 5px solid blue;
  margin: auto;
  width: 500px;
  height: 150px;
  cursor: not-allowed;

}
.titulo{
  font-family: "Indie Flower";
  font-weight: 500;
  font-style: normal;
}
.conteudo1{
  font-family: "Indie Flower";
  font-weight: 400;
}
h3{
  margin: auto;
}
img{
  width: 150px;
  height: 80px;
}